<style>
    
<style>
    
   
    h1 {
        width: 65px;
        color: orange;
    }

    ul {
        background-color: aquamarine;
        height: 59px;
    }
    .p-and-ul {
        
        background-color: rgb(160, 10, 10);
        color: rgb(10, 250, 200);
        
    }

    </style>

</style>